/* @theme layout-grid */

section.grid {
  display: flex;
  flex-direction: column;
  padding: var(--top-space) var(--left-space) var(--bottom-space) var(--right-space);
  background: var(--color-background);
  gap: var(--font-size-title);
  color: var(--color-font-primary);
}

section.grid > p {
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows:  repeat(2, 1fr);
  gap: var(--font-size-big);
  justify-items: center;
  align-items: center;
  height: 100%;
}

section.grid > h1 {
  text-align: center;
}

section.grid > * > img {
  height: 200px;
}
