/* @theme layout-vertical-one-column */

section[data-class='vertical-one-column'] {
  display: flex;
  flex-direction: column;
  gap: var(--font-size-title);
  padding: var(--top-space) var(--left-space) var(--bottom-space) var(--right-space);
  background: var(--color-background);
  color: var(--color-font-primary);
}

section[data-class='vertical-one-column'] h1 {
  text-align: center;
  font-weight: 500;
}

section[data-class='vertical-one-column'] p {
  grid-area: subtitle;
  justify-self: center;
  margin: 5px;
  text-align: center;
  max-height: 100%;
}

section[data-class='vertical-one-column'] ul {
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

section[data-class='vertical-one-column'] strong {
  color: var(--color-font-empasis);
}

section[data-class='vertical-one-column'] img {
  max-height: 400px;
}
