/* @theme base */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "../core/css/prism.css";
@import "../core/css/layouts.css";

:root {
  font-family: 'Lato', sans-serif;

  --marpit-root-font-size: 16px;
  --font-size-title: 2rem;
  --font-size-content: 1.8rem;

  --color-background: #FFFFFF;
  --color-font-base: #333444;
  --color-font-empasis: #0099FF;
  --color-font-primary: #333444;
  --color-font-secondary: #FFFFFF;

  --left-space: 100px;
  --right-space: 100px;
  --bottom-space: 100px;
  --top-space: 88px;

  --base-padding: var(--top-space) var(--left-space) var(--bottom-space) var(--left-space);
}

* {
  box-sizing: border-box;
  font-size: var(--font-size-content);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-title);
  margin: 0;
}

p {
  font-size: var(--font-size-content);
}

ul {
  font-size: var(--font-size-content);
}

a {
  text-decoration: none;
}

[data-bespoke-marp-fragment=inactive] {
  opacity: 0;
}
